In [12]:
import pandas as pd
import numpy as np
import seaborn as sns

In [13]:
matches = pd.read_csv('data/matches.csv')
deliveries = pd.read_csv('data/deliveries.csv')

In [14]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [15]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [16]:
matches.shape,deliveries.shape

((636, 18), (150460, 21))

In [17]:
totalrun_df = deliveries.groupby(['match_id','inning']).sum()['total_runs'].reset_index()
totalrun_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1279       634       2         140
1280       635       1         162
1281       635       2         163
1282       636       1         208
1283       636       2         200

[1284 rows x 3 columns]

In [22]:
totalrun_df = totalrun_df[totalrun_df['inning'] == 1]
totalrun_df['total_runs'] = totalrun_df['total_runs'].apply(lambda x:x+1)
totalrun_df

      match_id  inning  total_runs
0            1       1         209
2            2       1         186
4            3       1         185
6            4       1         165
8            5       1         159
...        ...     ...         ...
1274       632       1         140
1276       633       1         160
1278       634       1         164
1280       635       1         164
1282       636       1         210

[636 rows x 3 columns]